@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-color: #0A2463;
    --secondary-color: #3E92CC;
    --tertiary-color: #FFFAFF;
    --background-color: #dff2ff;
    --active-color: #D8315B;
    --dark-color: #1E1B18;
    --gray-color: rgb(39, 37, 37);

    --font-italianno: "Italianno", cursive;
    --font-roboto-mono: font-family: "Roboto Mono", monospace;
}

body {
    background: rgb(232, 226, 255);
    background: linear-gradient(180deg, rgba(173, 150, 255, 1) 0%, rgba(102, 155, 245, 1) 100%);
    height: 100vh;
}

.encryptor {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
    flex: 1;
    height: 100%;
}

.encryptor__view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 168px 10px 10px 10px;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
}

.encryptor__view__textarea {
    height: 500px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    color: var(--tertiary-color);
    font-style: var(--font-roboto-mono);
    font-size: 32px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.encryptor__view__textarea::placeholder {
    color: var(--tertiary-color);
    font-style: var(--font-roboto-mono);
    font-size: 32px;
}

.encryptor__view__textarea::-webkit-resizer {
    display: none;
}

.encryptor__view__suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.encryptor__view__suggestion__text {
    margin-left: 5px;
    font-family: var(--font-roboto-mono);
    color: var(--gray-color);
    font-size: 18px;
}

.encryptor__view__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.encryptor__view__buttons__button {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 24px;
    color: var(--tertiary-color);
}



.encryptor__view__buttons__button.button1 {
    background-color: var(--primary-color);
}

.encryptor__view__buttons__button.button2 {
    background-color: var(--secondary-color);
}

.encryptor__view__buttons__button:hover {
    background-color: var(--active-color);
}




.encryptor__result {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
}

.encryptor__result__container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 25px;
    border: 4px solid var(--secondary-color);
    box-shadow: 12px 12px 2px 1px var(--primary-color);
    padding: 35px;
    justify-content: center;
    align-items: center;
}

.encryptor__result__container__text {
    display: none;
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font-italianno);
    color: var(--dark-color);
}

.encryptor__result__container__img {
    width: 200px;
}

.encryptor__result__container__title {
    font-family: var(--font-italianno);
    font-size: 50px;
    color: #0A2463;
}

.encryptor__result__container__subtitle {
    font-family: var(--font-italianno);
    font-size: 30px;
    color: #3E92CC;
}

.encryptor__result__container__button {
    display: none;
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 24px;
    color: var(--tertiary-color);
    background-color: var(--dark-color);
}

.encryptor__result__container__button:hover {
    background-color: var(--active-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8315B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.footer__text {
    font-size: 20px;
    font-family: var(--font-roboto-mono);
    color: var(--dark-color);
}


/* 
::-webkit-resizer {
    display: none;
}

textarea {
    width: 600px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    color: var(--tertiary-color);
    font-style: var(--font-roboto-mono);
    font-size: 32px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
}
::placeholder {
    color: var(--tertiary-color);
    font-style: var(--font-roboto-mono);
    font-size: 32px;
} */


/* 
.encryptor__result__container__img{
    width: 336px;
    height: 304px;
} */